<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="MicroFocus.COBOL.Runtime">
      <section name="EntryPointMapper"
               type="System.Configuration.NameValueSectionHandler" />
    </sectionGroup>
  </configSections>

  <MicroFocus.COBOL.Runtime>
    <EntryPointMapper>
      <add key="AP" value="APPROJ.dll" />
      <add key="ADRMNT" value="APPROJ.dll" />
      <add key="OPNSCN" value="APPROJ.dll" />
      <add key="VENLOG" value="APPROJ.dll" />
      <add key="AR" value="ARPROJ.dll" />
      <add key="ARMENU" value="ARPROJ.dll" />
      <add key="AGESCN" value="ARPROJ.dll" />
      <add key="COLSCN" value="ARPROJ.dll" />
      <add key="COLSLS" value="ARPROJ.dll" />
      <add key="CUSINQ" value="ARPROJ.dll" />
      <add key="CUSLOG" value="ARPROJ.dll" />
      <add key="CUSMNT" value="ARPROJ.dll" />
      <add key="STMSCN" value="ARPROJ.dll" />
      <add key="TRMMNT" value="ARPROJ.dll" />
      <add key="TCDMNT" value="ARPROJ.dll" />
      <add key="SLMMNT" value="ARPROJ.dll" />
      <add key="TRMMNT" value="ARPROJ.dll" />
      <add key="GETPTH" value="CBLPROJ.dll" />
      <add key="FILERR" value="CBLPROJ.dll" />
      <add key="DELALL" value="CBLPROJ.dll" />
      <add key="NOTMNT" value="CBLPROJ.dll" />
      <add key="FEXIST" value="CBLPROJ.dll" />
      <add key="PWDMNT" value="CBLPROJ.dll" />
      <add key="RPTMNT" value="CBLPROJ.dll" />
      <add key="ITML12" value="CBLPROJ.dll" />
      <add key="CK" value="CKPROJ.dll" />
      <add key="GL" value="GLPROJ.dll" />
      <add key="HH" value="HHPROJ.dll" />
      <add key="IC" value="ICPROJ.dll" />
      <add key="ADVPST" value="ICPROJ.dll" />
      <add key="INSSTK" value="ICPROJ.dll" />
      <add key="INVAGE" value="ICPROJ.dll" />
      <add key="STKWTH" value="ICPROJ.dll" />
      <add key="PCDMNT" value="ICPROJ.dll" />
      <add key="COMMNT" value="ICPROJ.dll" />
      <add key="PURADV" value="ICPROJ.dll" />
      <add key="PMARPT" value="ICPROJ.dll" />
      <add key="VALRPT" value="ICPROJ.dll" />
      <add key="SQLIOMF" value="IOPROJ.dll" />
      <add key="IOMLTCMP" value="IOPROJ.dll" />
      <add key="IOCOMPFI" value="IOPROJ.dll" />
      <add key="IORIGHTS" value="IOPROJ.dll" />
      <add key="IOPWDFIL" value="IOPROJ.dll" />
      <add key="CNTSIN" value="MSPROJ.dll" />
      <add key="CNTSMT" value="MSPROJ.dll" />
	  <add key="STKEXP" value="MSPROJ.dll" />
      <add key="MS" value="MSPROJ.dll" />
      <add key="OE" value="OEPROJ.dll" />
      <add key="CUHRPT" value="OEPROJ.dll" />
      <add key="ORDCMT" value="OEPROJ.dll" />
      <add key="ORDMNU" value="OEPROJ.dll" />
      <add key="ORDEDT" value="OEPROJ.dll" />
      <add key="ITMHIS" value="OEPROJ.dll" />
      <add key="DUMINV" value="OEPROJ.dll" />
      <add key="INQINV" value="OEPROJ.dll" />
      <add key="INVRPT" value="OEPROJ.dll" />
      <add key="LICRPT" value="OEPROJ.dll" />
      <add key="SHFENT" value="OEPROJ.dll" />
      <add key="SHPDAT" value="OEPROJ.dll" />
      <add key="SHFRPT" value="OEPROJ.dll" />
      <add key="SHPERL" value="OEPROJ.dll" />
      <add key="VEWAIR" value="OEPROJ.dll" />
      <add key="INVSER" value="OEPROJ.dll" />
      <add key="GSIMOD" value="OEPROJ.dll" />
      <add key="APDATA" value="PDFPROJ.dll" />
      <add key="ARDATA" value="PDFPROJ.dll" />
      <add key="GLDATA" value="PDFPROJ.dll" />
      <add key="ICDATA" value="PDFPROJ.dll" />
      <add key="PIDATA" value="PDFPROJ.dll" />
      <add key="OPNINQ" value="PIPROJ.dll" />
      <add key="PI" value="PIPROJ.dll" />
      <add key="PFQMNU" value="PIPROJ.dll" />
      <add key="FAXQTE" value="PIPROJ.dll" />
      <add key="QTECMT" value="PIPROJ.dll" />
      <add key="VEWCUS" value="PIPROJ.dll" />
      <add key="QITHIS" value="PIPROJ.dll" />
      <add key="QSTRPT" value="PIPROJ.dll" />
      <add key="QTELST" value="PIPROJ.dll" />
      <add key="QTSLST" value="PIPROJ.dll" />
      <add key="EXPCMT" value="PIPROJ.dll" />
      <add key="FOLSHP" value="POPROJ.dll" />
      <add key="AIRENT" value="POPROJ.dll" />
      <add key="MDSCRP" value="POPROJ.dll" />
      <add key="PO" value="POPROJ.dll" />
      <add key="POIMNU" value="POPROJ.dll" />
      <add key="BINLAB" value="POPROJ.dll" />
      <add key="RTNRPT" value="POPROJ.dll" />
      <add key="RTNPRT" value="POPROJ.dll" />
      <add key="PRTUNI" value="POPROJ.dll" />
      <add key="VENACK" value="POPROJ.dll" />
      <add key="SA" value="SAPROJ.dll" />
      <add key="ORDITM" value="SAPROJ.dll" />
      <add key="ITMORD" value="SAPROJ.dll" />
      <add key="LSTBIZ" value="SAPROJ.dll" />
      <add key="SALESA" value="SAPROJ.dll" />
      <add key="ORDERA" value="SAPROJ.dll" />
      <add key="BATRPT" value="SAPROJ.dll" />
      <add key="BATR77" value="SAPROJ.dll" />
      <add key="SM" value="SMPROJ.dll" />
      <add key="SCREEN" value="UctScreen.dll" />
    </EntryPointMapper>
  </MicroFocus.COBOL.Runtime>  

</configuration>


